<div
  fxLayout
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-around"
  fxLayout.xs="column"
>
  <mat-card fxLayout fxLayout="column">
    <mat-card fxLayout fxLayout="row">
      <button mat-button (click)="onGetLogs()">Update</button>
      <mat-form-field class="example-form-field">
        <mat-label>Number Log Lines</mat-label>
        <input matInput type="number" [(ngModel)]="numberLogLines" />
      </mat-form-field>
    </mat-card>
    <mat-card>
      <div style="white-space: pre-line">{{ serviceLogs }}</div>
    </mat-card>
  </mat-card>
</div>
