<div
  fxLayout
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="space-around"
  fxLayout.xs="column"
>
  <mat-card fxLayout fxLayout="column">
    <mat-card-title>Connection {{ channel }}</mat-card-title>
    <div>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="string" [(ngModel)]="settings.name" />
      </mat-form-field>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Smoothing (Samples)</mat-label>
        <input
          matInput
          min="1"
          type="number"
          [(ngModel)]="settings.num_smoothing_samples"
        />
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card fxLayout fxLayout="column">
    <mat-card-title>Feedback</mat-card-title>
    <div>
      <mat-slide-toggle
        [(ngModel)]="settings.feedback_active"
        color="primary"
        (change)="onSettingsChange()"
      >
        Active
      </mat-slide-toggle>
    </div>
    <div>
      <mat-slider
        (change)="onSettingsChange()"
        min="0"
        max="100"
        step="0.5"
        [(ngModel)]="settings.feedback_setpoint_pcnt"
      ></mat-slider>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Target Humidity (%)</mat-label>
        <input
          matInput
          min="0"
          max="100"
          type="number"
          [(ngModel)]="settings.feedback_setpoint_pcnt"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Run Interval (s)</mat-label>
        <input matInput type="number" min="1" [(ngModel)]="settings.pump_on_time_s" />
      </mat-form-field>
    </div>
    <div>
      <mat-slide-toggle
        [(ngModel)]="settings.perform_feedback_hourly"
        color="primary"
        (change)="onSettingsChange()"
      >
        Perform Hourly
      </mat-slide-toggle>
    </div>
    <div>
      <mat-label>Activation Time</mat-label>
      <ngb-timepicker
        [disabled]="settings.perform_feedback_hourly"
        [(ngModel)]="settings.pump_activation_time"
      ></ngb-timepicker>
      <button
       mat-button
       [disabled]="settings.perform_feedback_hourly"
       (click)="onSettingsChange()">Apply</button>
    </div>
    <div>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Periodicity (days)</mat-label>
        <input
          matInput
          type="number"
          min="1"
          matTooltip="Run once every this many days"
          [disabled]="settings.perform_feedback_hourly"
          [(ngModel)]="settings.pump_activation_period_days"
        />
      </mat-form-field>
    </div>
    <!-- <div>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Run Time </mat-label>
      </mat-form-field>
    </div> -->
  </mat-card>

  <mat-card fxLayout fxLayout="column">
    <mat-card-title>Humidity Calibration</mat-card-title>
    <div>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Dry Soil (V)</mat-label>
        <input matInput type="number" min="0" max="3.3" [(ngModel)]="settings.dry_humidity_V" />
      </mat-form-field>
      <button mat-button (click)="onTakeCurrentHumidityAsDry()">
        Take Current
      </button>
    </div>
    <div>
      <mat-form-field (change)="onSettingsChange()" class="example-form-field">
        <mat-label>Wet Soil (V)</mat-label>
        <input matInput type="number" min="0" max="3.3" [(ngModel)]="settings.wet_humidity_V" />
      </mat-form-field>
      <button mat-button (click)="onTakeCurrentHumidityAsWet()">
        Take Current
      </button>
    </div>
  </mat-card>
</div>
<button mat-button (click)="onRefreshSettings()">
  Refresh
</button>
