<div
  fxLayout
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="space-around"
  fxLayout.xs="column"
>
<button mat-stroked-button (click)="onTurnOn()">Turn On</button>
  <mat-form-field class="example-form-field">
    <mat-label>On Duration (s)</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="onDuration_s" />
  </mat-form-field>
  <button mat-stroked-button (click)="onTurnOff()">Turn Off</button>
  <button mat-stroked-button (click)="onGetStatus()">Status</button>
</div>
